body {
    background: burlywood;
}


#list-ul, #matches-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#country-selector-btns li {
    list-style: none;
    display: inline;
}

.btn {
    background: rgb(133, 133, 133);
    color: white;
    text-shadow: 1px 1px 1px black;
}